include date_filter/date_filter.min.js
include date_filter/date_filter.min.js.map
include date_filter/metadata.json
include date_filter/package-info.json
include README.md
include LICENSE
include package.json
